<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <a target="_blank" href="http://localhost:5000/restart" class="w3-bar-item"><i class="w3-text-red fa fa-power-off"></i></a>
    <a target="_blank" href="http://localhost:5000/flush_req_data" class="w3-bar-item"><i class="w3-text-blue fa fa-paint-brush"></i></a>
    <a target="_blank" href="http://localhost:5000/search" class="w3-bar-item w3-right"><i class="fa fa-search"></i></a>
    <span class="w3-bar-item w3-right">微信公众号文章分析</span>
</div>
