<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:15%;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src=[[ url_for("static", filename="img/aii.png") ]] class="w3-margin-right" style="width:50px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span>Good luck, <strong>AIIer</strong></span><br>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
        <a class="only-menu w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a onclick="only_display('gzh')" class=" w3-bar-item w3-button w3-padding"><i class="fa fa-list fa-fw"></i>  Weixin | 公众号</a>
        <a onclick="only_display('crawler')" class=" w3-bar-item w3-button w3-padding"><i class="fa fa-rocket fa-fw"></i>  Crawler | 采集</a>
        <a onclick="only_display('settings')" class=" w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings | 设置</a><br><br>
    </div>
    <div>
        <img style="width:90%;margin-left:5%" src=[[ url_for("static", filename="img/wq.jpg") ]]>
    </div>
</nav>

<!-- Overlay effect when opening sidebar      small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
